@use '../variables' as *;

.footer {
    /* margin-top: 20px; */
    padding-bottom: 20px;
    background-color: $bg-color;
    border-top: 1px solid $border-color;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    text-align: center;
}

.footer p {
    margin: 8px 0;
    color: $text-color-2;
    font-size: 0.9rem;
}

.footer a {
    color: $text-color-2;
    text-decoration: none;
    transition: $transition-all;

    &:hover {
        color: $primary-color;
    }
}