@use '../variables' as *;

.about {
    .user-info {
        padding: 5px;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .single-card {
        margin-bottom: 20px;

        :deep(a) {
            color: $primary-color;
            text-decoration: none;
            transition: $transition-all;

            &:hover {
                color: $primary-hover;
            }
        }
    }
}